doctype html
html
  head
    title=title

  body
    block content

    // Styles
    link(href="/css/styles.css" rel="stylesheet")

    // Simple site specific JavaScript
    script(src="/js/scripts.js")
